.headerContainer{
display: flex;
max-width: auto;
align-items: center;
justify-content: space-between;
padding-top: 2rem;
}
.navList{
  display: flex;
  align-items: center;
  justify-self: center;
}
.navLink {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 2rem;
  padding-bottom: 0;

}
.logoImage{
padding-left: 2rem;
}
.contactList{
padding-right: 2rem
}
.navLink p{color: white;
  }
.navLink p:hover{color: grey;}